/* login and register */

.white-background{
    background: white;
    position: absolute;
    top:0;
    bottom:0;
}

.increasemarginbottom{
    margin-bottom: 79px;
}

.container-fluid {
    background-color: #f7f7f7;

}

.container-inner {
    font-family: "Nunito";
    font-style: normal;
    padding: 20px;
    height:100%;
    background: white;
}

/* Welcome to TPA Makara UI! */
.title {
    font-weight: bold !important;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #384F7D !important;
}



.sign-in {
    margin: 20px 0;
    background: linear-gradient(227.43deg, rgba(45, 238, 249, 0.15) -34.42%, rgba(224, 132, 241, 0.15) 127.18%);
    width: 86px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 17px;
    line-height: 86px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #384F7D;
}

.container-inner label {
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #414752;
    text-align: left;
}

.font-basic {
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #414752;
    text-align: left;
    margin-left: -20px;
}


.btn-primary {
    padding: 10px 20px 10px 20px;
    margin: 30px auto 30px;
    background: #2F80ED;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

.halo {
    color: white;
    text-decoration: none;
}

.halo:hover {
    color: white;
    text-decoration: none;
}

/* .button-section{
    margin:30px;
} */

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);

}

.bottom-auth {
    font-size: 16px;
    text-align: center;
    color: #445984;
}

.picture-logo {
    text-align: center;
}

.picture-logo img {
    max-width: 65%;
}

.button-section {
    text-align: center;
}

/* register-anak */

.register-anak h2,
.komentar h2 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #414752;

}

.short {
    padding-right: 3px;
}

.correcting {
    margin-top: 18px;
}

.title-congratulations {
    font-weight: 600;
    font-size: 36 px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.002em;
    color: #0066B8;
}

.subtitle-congratulations {
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #0066B8;
}

.success {
    margin: 185px auto 42px;
}

.subtitle-congratulations {
    margin-bottom: 145px;
}

.ellipse {
    border-radius: 50%;
    height: 109px;
    width: 109px;
    background: #0066B8;
    text-align: center;
    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 56px;
}

/* .register-anak,
.registrasi-anak-first,
.registrasi-anak-second,
.registrasi-ibu,
.registrasi-ayah,
.registrasi-wali,
.registrasi-non-wali,
.tab{
    transform: scale(0,0);
    height: 0;
} */

input.invalid{
    background-color: #ffdddd;
}

input.valid{
    background-color: white !important;
}

input.invalidf{
    background-color: #ffdddd !important
}


.picture-logo,
.title,
.sign-in,
.register,
.bottom-auth {
    transform: scale(1, 1);
    height: 100%;
}

.register-anak,
.registrasi-anak-first,
.registrasi-anak-second,
.registrasi-ibu,
.registrasi-ayah,
.registrasi-wali,
.registrasi-non-wali,
.picture-logo,
.title,
.sign-in,
.register,
.bottom-auth,
.tab{
    transition: all 0.3333s ease-in;
}

/* #final-button {
    display: none;
} */

/* homepage */

p,
h1,
h2,
h3 {
    margin: 0;
    line-height: 25px;
    font-family: Nunito;
    text-align: center;
}

#carouselExampleIndicators {
    margin-bottom: 25px;
}

.carousel-indicators li {
    border-radius: 10px;
    width: 10px;
    height: 10px;
}

#homeHead,
#homePara,
#headerBerita,
#headerLokasi {
    font-style: normal;
    color: rgba(56, 79, 125, 0.65);
    text-align: center;
}

#homeHead,
#headerBerita,
#headerLokasi {
    font-weight: 900;
    font-size: 1.3em;
}

#homePara {
    font-weight: normal;
    align-items: center;
    font-size: 0.9em;
}

#homeVideo {
    margin: 0 auto;
    text-align: center;
}

#headerBerita,
#headerLokasi {
    margin-top: 10px;
    color: #414752;
}

#prgBerita {
    font-size: 1rem;
}

#judulBerita {
    font-weight: 700;
    font-size: 1.3rem;
}

.daftarsiswa-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #414752;
}

.underline{
    margin-top: 5px;
    height: 2px;
    background-color: #384F7D;
}

.underliner{
    padding: 7px 15px;
    border-bottom: 2px solid #384F7D;
}


.search-siswa{
    background: rgba(236, 239, 241, 0.64);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 12px;
}

.siswa {
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-bottom: 15px;
    max-width: 60%;
    height: auto;
    transition: transform .3s ease-in-out;
}

.siswa a {
    color: #2F80ED;
}

.photosiswa {
    width: 45%;
    height: auto;
    margin: 10px auto 12px;
}

div.siswa a:hover {
    text-decoration: none;
    color: rgb(22, 97, 197);
}

div.siswa:hover{
    transform: scale(1.1,1.1);
}

/* bukupenghubungkb/dc */

.bukupenghubung-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #414752;
}

.search-bukbul {
    box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 30px;
}

.opacitydown {
    opacity: 0.5;
}

.sizer {
    width: 85%;
}

.inline {
    display: inline-block;
}

.bukbul {
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    max-width: 60%;
    height: auto;
    transition: transform .3s ease-in-out;

}

.bukbul a {
    color: rgba(56, 79, 125, 0.65);
}

.photobukbul {
    width: 40%;
    height: auto;
    margin: 10px auto 12px;
}

div.bukbul a:hover {
    text-decoration: none;
    color: rgb(101, 101, 101);
}

div.bukbul:hover{
    transform: scale(1.2,1.2);
}

/* buku penghubungdc (specific) */

.dateblock {
    background: #D9EBFF;
    border-radius: 50px;
    width: 210px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #2F80ED;
    padding: 5px 15px;
    margin: 8px auto;
    transition: transform .3s ease;

}

.dateblock:hover {
    text-decoration: none;
    color: rgb(22, 97, 197);
    transform: scaleX(1.05);
}

.centerer {
    text-align: center;
}

#garis {
    width: 100%;
    height: 2px;
    background: #414752;
}

#imgBerita {
    border-radius: 20%;
    margin-bottom: 5px;

}

#beritaCont {
    padding: 1%;
    /* box-shadow: 1px 1px 30px grey; */
    background-color: #e1e1e1;
    text-align: center;
}

#isiBerita {
    background-color: #FFFFFF;
    padding: 3%;
}



#berita {
    background-color: #e1e1e1;
    padding: 1%;
}

#prfsTpam {
    background-color: #e1e1e1;
}


#prfsTpam div {
    padding: 0;
}
#prfsTpam h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 0 auto 0.5em;
}


#prfsTpam,
#jamOps,
#almtTpam {
    margin: 0 auto;
}

#berita,
#prfsCont,
#lokasiCont,
#jamOps {
    margin-top: 10px;
}

#pensilBrt{
    width: 10%;
    position: absolute;
    background-color: #FFFFFF;
    right: 10.5px;
    top: 11.5px;
}

#prfsCont #prfsDesc{
    padding: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}


#prfsDesc #imgCont{
    width: 13%;
    margin: 0 auto 1em;
}

#tmbhBrt p{
    text-align: right;
    font-weight: bolder;
    color: #0066B8;
    text-decoration: underline;

}
.messagedc {
    transition: transform .3s ease;
}

.messagedc:hover {
    transform: scale(1.1, 1.1);
}

.addsign {
    margin-top: 15px;
    transition: transform .3s ease;
}

.addsign:hover {
    transform: rotate(90deg);

}

/* buku penghubungdc not published */
.dateblock p{
    margin:0;
    display:inline-block;
}

.dateblock-disabled{
    background-color: #F2F2F2 !important;
}

/*  buku penghubungdc ortu */
.readstatus{
    font-weight: 900;
    font-size: 14px;
    color: rgba(56, 79, 125, 0.65);
    border-radius: 8px;
    margin: 10px auto 15px;
}

/* buku create bukupenghubungdc */

.subbukupenghubung-title{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #414752;
}

input.tanggaldc{
 background-image: url(../svg/calendar.svg) !important;
 background-repeat: no-repeat !important;
 background-position: 97% 2px !important;

}

#tanggaldc:focus,
#tanggaldc:hover {
    background-position: 82.5%
}

label.dclabel {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(56, 79, 125, 0.8);
}

input.dcinput,
textarea.dcinput,
div.dcinput{
    background: #FFFFFF;
    box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
    border-radius: 8px;
    border-bottom: 0px;
    font-weight: 900;
    color: rgba(56, 79, 125, 0.65);
    margin-bottom: 40px;
}

button.dcbutton {
    background: linear-gradient(167.84deg, #2F80ED -21.93%, #038BF4 87.81%);
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px;
}

button.dcbutton img {
    margin-left: 15px;
}

.dcimg {
    width: 150px;
    height: auto;
    text-align: center;
}

.tambahfoto {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #2F80ED !important;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.tambahfoto img {
    transform: rotate();
    margin-bottom: 2px;
    margin-left: 2px;
    transition: all .2s ease-in-out;
}

.tambahfoto:hover {
    text-decoration: none;
}

.tambahfoto:hover img {
    transform: rotate(90deg);
}

#inputfile {
    display: none;
    height: 0;
}


/* komentar */

.komentar {
    margin-bottom: 30px;
}

.dari {
    text-align: left;
    background: linear-gradient(305.1deg, #445984 -13.6%, rgba(68, 89, 132, 0.7) 158.71%);
    border-radius: 8px;
    box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
}

.righter {
    text-align: right;
}

.dari,
.ke {
    margin: 20px auto;
    padding: 9px;
}

.ke {
    background: #FFFFFF;
    box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
    border-radius: 8px;

}

.namapesan {
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.contentpesan {
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

.namapesandark {
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    color: #384F7D;
    margin-bottom: 0;
}

.contentpesandark {
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: rgba(56, 79, 125, 0.8);
    margin-bottom: 0;
}

/* typeclass */

.typeclass{
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #2F80ED;
    margin-bottom: 40px;
}


a.linkclass:hover h1{
    color: rgb(34, 112, 214);
}

a.linkclass:hover{
    text-decoration: none
}

/*profile*/

.editprofile{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(167.84deg, #2F80ED -21.93%, #038BF4 87.81%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2px 12px;
    transition: all .1s ease-in;
}

.editprofile:hover{
    background: rgb(65, 175, 169)
}


.editprofile p{
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     margin: 0;
}

.linkeditprofile:hover{
    text-decoration: none;
}


.profilelabel{
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

.profilecontent{
    font-weight: bold;
    font-size: 11.5px;
    color: #2F80ED;

}

.deletemb{
    margin-bottom:0px;
}

.profilepicture{
    max-width: 100%;
    margin-bottom: 5px
}

.boxprofile{
    background: rgba(196, 196, 196, 0.2);
    margin-bottom: 30px;
    width: 482px;
}

@media (max-width: 700.98px) {
.margin-profile{
    margin-left:-10px;
}
.margin-ortu{
    margin-left: 0px;
}
}

@media (min-width: 701px){
    .margin-ortu{
        margin-left: 20%;
    }
}

.parent-profile{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #006B8D;
}

.underliner-parent-profile{
    padding: 2px 8px;
    border-bottom: 2px solid #006B8D;;
}

/*footer nav*/

.boxfooter{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background: #FFFFFF;
}

.nav-pane{
    text-align:center;
}

.nav-pane p{
    margin:0;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
    align-items: center;
    text-align: center;
    color: #36382E;
}

#beritaForm h2 {
    text-align: left;
}

.showbp{
    font-weight: 900;
    color: rgba(56, 79, 125, 0.65);
}

.title2 {

    font-size: 11px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #384F7D;
}

.title3{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

}

#logoJam, #logoAlmt{
    margin: 0 auto;
    text-align: right;
}

#logoJam img, #logoAlmt img{
    max-width: 23%;
}

.jamLoc{
    background-color: #924583;
    color: white;
    text-align: left;
}

.almlocp{
    color: white;
    font-size: 0.7em;
    letter-spacing: 0.02em;
    text-align: left;
}

.pigeon{
    text-align: center;
}

.pigeon #imgCont{
    width: 50%;
    margin: 0 auto;
}

.title4{
    text-align: left;
    text-decoration: underline;
}

.imgbpkb{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

#sosmed div{
    text-align: center;
    margin: 0.5em auto;
}

#sosmed img{
    width: 20px;
}

#tv {
    position: relative;
    width: auto;
    height: auto;
    margin: 20px 0;
    padding: 20px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    color: white;
    text-align: center;
    text-indent: .1em;
}
#tv:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 15%;
    right: 0;
    left: 0;
    background: inherit;
    border-radius: 50%;
}
